.leftcolumn {
margin:0px;
padding:0px 0px 0px 0px;
width : 250px;
font-family: "Trade Gothic", Arial, san-serif;
font-size:14px;
text-transform:capitalize;
border-right: 1px dotted #0a51a1;
}

.leftcolumn  a {
color: #1a2d7f;
text-decoration:none;
padding:0px 10px;
margin:0px 0px;
display:block;
background:none;
font-weight:bold;
}

.leftcolumn  a:hover {
color: #212121;
padding-left:10px;
background:none;
display:block;
}

ul.menu,
ul.menu li,
ul.menu ul {
list-style: none;
margin: 0;
padding: 0;
}

ul.menu {
padding: 10px 10px;
position: relative;
z-index: 597;
float: left;
}

ul.menu li {
padding:4px 0px;
border-bottom: 1px dotted #0a51a1;
float: left;
line-height: 1.3em;
vertical-align: middle;
zoom: 1;
}

ul.menu li.hover,
ul.menu li:hover {
position: relative;
z-index: 599;
cursor: default;
background:#e9eff3;
}

ul.menu ul li.hover,
ul.menu ul li:hover {
background:#ccd6dd;
}
ul.menu ul {
visibility: hidden;
position: absolute;
top: 100%;
left: 0;
z-index: 598;
width: 100%;
}

ul.menu ul li {
float: none;
border-bottom: 1px dotted #0a51a1;
}

ul.menu ul ul {
top: 1px;
left: 99%;
}

ul.menu li:hover > ul {
visibility: visible; 
background:#e9eff3; 
width:230px;
font-size:12px;
}

ul.menu {
width: 230px;
}

ul.menu ul {
top: 0px;
left: 99%;
clear:both;
}

ul.menu li {
float: none;
}