/* 
    Created on : Dec 6, 2013, 12:43:59 PM
    Author     : dave
*/

/* Lighter gray is EBEBEB; darker is D9D9D9 */



#map {
    /*position: absolute;*/
    /*height: 40%;*/
    /*width: 65%;*/
    height: 100%;
    width: 100%;
}

#map-wrapper {
    position: absolute;
    padding: 5px;
    border: 2px solid D9D9D9;
    height: 39%;
    width: 66%;
}

#result-list-wrapper {
    position: absolute;
    top: 77%;
    margin-top: 10px;
    width: 64%;
}