/* 
    Created on : Dec 6, 2013, 12:43:59 PM
    Author     : dave
*/
/* Lighter gray is EBEBEB; darker is D9D9D9 */
#map {
  /*position: absolute;*/
  /*height: 40%;*/
  /*width: 65%;*/
  height: 100%;
  width: 100%;
}

#map-wrapper {
  position: absolute;
  padding: 5px;
  border: 2px solid D9D9D9;
  height: 39%;
  width: 66%;
}

#result-list-wrapper {
  position: absolute;
  top: 77%;
  margin-top: 10px;
  width: 64%;
}

/* 
    Created on : Dec 6, 2013, 10:37:12 AM
    Author     : dave
*/
#menu {
  min-height: 0px;
}

.search-form {
  margin: 6px;
}
.search-form button.ui-multiselect {
  max-width: 100px;
}
.search-form input[type=text] {
  width: 95px;
}
.search-form select, .search-form button.ui-multiselect {
  width: 100px;
}
.search-form input[type=text], .search-form select, .search-form button.ui-multiselect {
  display: inline-block;
  float: left;
  margin: 5px;
}
.search-form label {
  display: inline-block;
  float: left;
  clear: left;
  width: 100px;
  margin: 5px 0px;
}

.collector-age, .consultant-age {
  height: 20px;
  display: inline-block;
  clear: both;
  width: 200px;
  margin: 5px;
  margin-top: 28px;
}

#search-wrapper {
  position: absolute;
  width: 20%;
  top: 10px;
  left: 50px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.75);
}

.fieldset-header {
  clear: both;
  padding: 10px;
  background: #E9E9E9;
  font-size: 15px;
  color: #1a2d7f;
  border: 1px solid rgb(189, 189, 189);
  border-bottom: none;
}
.fieldset-header span {
  position: relative;
  right: 10px;
}
.fieldset-header :last-of-type {
  border-bottom: 1px solid rgb(189, 189, 189);
}

.fieldset-header.last {
  border-bottom: 1px solid rgb(189, 189, 189);
}

.fieldset-body {
  background: #f0f0f0;
  border: 1px solid lightgray;
  padding: 11px 10px 11px 15px;
}
.fieldset-body label {
  font-weight: normal;
}

.background-filler {
  clear: both;
}

.search-button-wrapper {
  position: absolute;
  margin: 4px 20px 10px 180px;
  /*left: 200px;*/
}

/* 
    Created on : Dec 6, 2013, 10:44:56 AM
    Author     : dave
*/
/* 
    Created on : Dec 6, 2013, 10:45:26 AM
    Author     : dave
*/
#result-list-wrapper {
  border: 2px solid #D9D9D9;
  padding: 25px;
  background: white;
}
#result-list-wrapper h2 {
  font-size: 18px;
  color: gray;
}
#result-list-wrapper .next-page, #result-list-wrapper .prev-page {
  color: #D9D9D9;
  position: absolute;
  top: 0px;
  width: 20px;
  height: 20px;
  padding: 6px;
  font-weight: normal;
  font-size: 1.5em;
}
#result-list-wrapper .next-page {
  right: 0px;
}
#result-list-wrapper .prev-page {
  right: 35px;
  border-right: 1px solid #D9D9D9;
}
#result-list-wrapper .active {
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
#result-list-wrapper .summary-item {
  margin: 0px;
  border-bottom: 1px dashed #d0d0d0;
}
#result-list-wrapper ul.result-title {
  padding: 0px;
}
#result-list-wrapper ul.result-title li {
  display: inline;
  text-decoration: underline;
  font-weight: bold;
  list-style-type: none;
  padding-right: 20px;
}
#result-list-wrapper .description {
  /*padding: 20px;*/
  padding-bottom: 20px;
}

/* 
    Created on : Dec 6, 2013, 10:50:50 AM
    Author     : dave
*/

/*# sourceMappingURL=main.css.map */
